*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.ir {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

body {
    width: 100%;
    /* height: 100vh; */
    }

ul {
    width: 100%;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(3,calc(33.33333% - 30px));
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    list-style: none;
}
.container {
    width: 249px; 
    height: 254px;
}

.product-link {
    margin-bottom: 10px;
    /* width: 100%; */
}
.info {
    width: 100%;
    height: 80px;
}


.product-cont::after {
    content: "";
    background: url(./images/wadiz1.jpeg) no-repeat;
    display: block;
    width: 249px;
    height: 140px;
    background-size: 100%;
    border-radius: 3px;
}



.product {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.product-info {
    width: 249px;
    /* height: 60px; */
    font-size: 16px;
    font-weight:bold ;
    white-space: normal;
    
}

.category_company {
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    -ms-flex-line-pack: 16px;
    font-size: 13px;
    font-weight: 500;
    color: #90949c;
    margin: 5px 0px;
}

.category::after {
    content: "|";
    font-weight: 400;
}

progress::-moz-progress-bar { background: #07bbbb ; }
progress::-webkit-progress-value { background: #00b2b2; border: none; }
progress {
    background: #00b2b2; width: 249px; height: 5px; 
}


.donate-status { 
    display: flex;
    justify-content: space-around;
}

.reached-per {
    font-size: 17px;
    font-weight: 700;
    color:#00b2b2;
}

.reached-mon {
    font-size: 13px;
    font-weight: 500;
    color: #90949c;
}

.d-day {
    font-size: 14px;
    font-weight: 500;
    color: #909490;
}