* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #fff;
}

.ir {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

.navigation {
    display: block;
}

nav {
    display: block;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: auto;
}

nav ul { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* 곽성재코드 */
    align-items: center;
    text-align: center;
    width: 200px;

}

.nav-item {
    list-style: none;
    
}
.nav-item-list {
    text-decoration-line: none;
}

main {
    display: block;
}
.xmas-logo {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.search-inp {
    width: 40%;
    height: 100%;
    position: relative;
    z-index: 1;
    left: 30%;
    border: solid #bdbdbd;
    border-width: 1px;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px 80px;
    background-image: url(./images/search/2x/outline_search_black_24dp.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 20px, center; 
    outline: none;
}

.search-inp:hover {
    box-shadow: 1px 2px 3px 2px #bdbdbd;
}

.voice-logo {
    width: 20px;
    position: relative;
    left: 380px;
    top: 5px;
    z-index: 10;
}

.wrap {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 30%;
    margin-top: 20px;
    
}

.wrap li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
    left: 30%;
}

.wrap li:hover {
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 10px;
    
}

.wrap-item {
    position: absolute;
    z-index: 10;
}



